<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufc.dc.es.meumedico">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".view.SecondScreenActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.ContaActivity" />
        <activity
            android:name=".view.Cad_AtividadeActivity"
            android:parentActivityName=".view.SecondScreenActivity" />
        <activity
            android:name=".view.ContaUsuarioActivity"
            android:parentActivityName=".view.SecondScreenActivity"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver android:name=".controller.others.NotificationPublisher">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".controller.others.UpdateActivityByNotification">
            <intent-filter>
                <action android:name="br.ufc.dc.es.meumedico.intentDone" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.ufc.dc.es.meumedico.intentDontDone" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.CalendarActivity"
            android:parentActivityName=".view.SecondScreenActivity"/>
    </application>

</manifest>